<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="id-edge">
    <!-- Importando Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- não precisa apontar para /public -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Página Principal</title>
</head>